# --- data (DO NOT COMMIT) ---
data/raw/
data/clips/
data/**/SoccerNet*/
**/*.mkv
**/*.mp4
**/*.avi
**/*.mov
**/Labels-*.json

# optional: big artifacts
**/*.zip
**/*.7z
**/*.tar
**/*.rar

# python
__pycache__/
*.pyc
.venv/
.vscode/
